<a href="https://colab.research.google.com/github/AngTorresv/Machine_Learning/blob/main/Clasificador_comentarios/Comparacion_modelos_machine_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Clasificado de comentarios positivos y negativos

In [30]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/IMDB Dataset.csv')
df

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

In [31]:
dfp = df[df['sentiment']=='positive'][:9000] 
dfn = df[df['sentiment']=='negative'][:1000] 
df = pd.concat([dfp,dfn])
df.value_counts('sentiment')

sentiment
positive    9000
negative    1000
dtype: int64

In [32]:
from imblearn.under_sampling import RandomUnderSampler
rus = RandomUnderSampler()
df,df['sentiment'] = rus.fit_resample(df[['review']],df['sentiment'])
df.value_counts(['sentiment'])

sentiment
negative     1000
positive     1000
dtype: int64

In [33]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(df,test_size=0.20, random_state=4)
train_x,train_y = train['review'], train['sentiment']
test_x,test_y = test['review'], test['sentiment']

# tranformar de data texto a numerica

In [34]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(stop_words='english')
train_x_vector = tfidf.fit_transform(train_x)

test_x_vector = tfidf.transform(test_x)
df_dtm = pd.DataFrame(data=train_x_vector.toarray())
df_dtm

,0,1,2,3,4,5,6,7,8,9,...,22099,22100,22101,22102,22103,22104,22105,22106,22107,22108
0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.309671,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.000000,0.0,0.0,0.0,0.127904,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.000000,0.0,0.0,0.0,0.000000,0.064233,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1595,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1596,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1597,0.0,0.000000,0.0,0.0,0.0,0.137667,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1598,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1599,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Seleccion del modelo de clasificacion

## Support vector Machines (SVM)

In [35]:
from sklearn.svm import SVC

svc = SVC(C= 4 ,kernel = 'rbf')
svc.fit(train_x_vector, train_y)

SVC(C=4)

In [36]:
print(svc.predict(tfidf.transform(['A good movie'])))#positive
print(svc.predict(tfidf.transform(['this is a very good movie, i like '])))#positive
print(svc.predict(tfidf.transform(['the movie was not a god job'])))#negative
print(svc.predict(tfidf.transform(['A excellent movie '])))#positive
print(svc.predict(tfidf.transform(['i thing this movie is regular but entertaining'])))#positive
print(svc.predict(tfidf.transform(['the movie was boring and a bad job was done in everything'])))#negative

['positive']
['negative']
['negative']
['positive']
['positive']
['negative']

# Decision Tree

In [37]:
from sklearn.tree import DecisionTreeClassifier
dec_tree = DecisionTreeClassifier()
dec_tree.fit(train_x_vector,train_y)

DecisionTreeClassifier()

In [38]:
print(dec_tree.predict(tfidf.transform(['A good movie'])))#positive
print(dec_tree.predict(tfidf.transform(['this is a very good movie, i like '])))#positive
print(dec_tree.predict(tfidf.transform(['the movie was not a god job'])))#negative
print(dec_tree.predict(tfidf.transform(['A excellent movie '])))#positive
print(dec_tree.predict(tfidf.transform(['i thing this movie is regular but entertaining'])))#positive
print(dec_tree.predict(tfidf.transform(['the movie was boring and a bad job was done in everything'])))#negative

['positive']
['positive']
['positive']
['positive']
['positive']
['negative']

# Naive Bayes

In [39]:
from sklearn.naive_bayes import GaussianNB

gnb = GaussianNB()
gnb.fit(train_x_vector.toarray(),train_y)

GaussianNB()

# Logistic Regression

In [40]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression()
lr.fit(train_x_vector,train_y)

LogisticRegression()

In [42]:
print(lr.predict(tfidf.transform(['A good movie'])))#positive
print(lr.predict(tfidf.transform(['this is a very good movie, i like '])))#positive
print(lr.predict(tfidf.transform(['the movie was not a god job'])))#negative
print(lr.predict(tfidf.transform(['A excellent movie '])))#positive
print(lr.predict(tfidf.transform(['i thing this movie is regular but entertaining'])))#positive
print(lr.predict(tfidf.transform(['the movie was boring and a bad job was done in everything'])))#negative

['negative']
['negative']
['negative']
['positive']
['positive']
['negative']

# Random Forest

In [47]:
from sklearn.ensemble import RandomForestClassifier
RFC = RandomForestClassifier(n_estimators= 100 , random_state= 30 , min_samples_leaf= 16)
RFC.fit(train_x_vector,train_y)

RandomForestClassifier(min_samples_leaf=16, random_state=30)

In [48]:
print(RFC.predict(tfidf.transform(['A good movie'])))#positive
print(RFC.predict(tfidf.transform(['this is a very good movie, i like '])))#positive
print(RFC.predict(tfidf.transform(['the movie was not a god job'])))#negative
print(RFC.predict(tfidf.transform(['A excellent movie '])))#positive
print(RFC.predict(tfidf.transform(['i thing this movie is regular but entertaining'])))#positive
print(RFC.predict(tfidf.transform(['the movie was boring and a bad job was done in everything'])))#negative

['positive']
['positive']
['positive']
['positive']
['positive']
['negative']

# K-neighbort

In [51]:
from sklearn.neighbors import KNeighborsClassifier

from sklearn import preprocessing

In [81]:
dfN = pd.get_dummies(data=df['sentiment'],drop_first=True)
dfR = df.T[:1].T
dfN = dfN.reset_index()
dfR = dfR.reset_index()
dfk = pd.merge(dfR,dfN,on= 'index', how='outer')
train, test = train_test_split(dfk,test_size=0.33, random_state=4)
train_xk,train_yk = train['review'], train['positive']
test_xk,test_yk = test['review'], test['positive']
tfidf = TfidfVectorizer(stop_words='english')
train_xk = tfidf.fit_transform(train_xk)
test_xk = tfidf.transform(test_xk)

In [77]:
KK = KNeighborsClassifier(n_neighbors=5)
KK.fit(train_xk,train_yk)

KNeighborsClassifier()

In [55]:
print(KK.predict(tfidf.transform(['A good movie'])))#0
print(KK.predict(tfidf.transform(['this is a very good movie, i like '])))#0
print(KK.predict(tfidf.transform(['the movie was not a god job'])))#1
print(KK.predict(tfidf.transform(['A excellent movie '])))#0
print(KK.predict(tfidf.transform(['i thing this movie is regular but entertaining'])))#0
print(KK.predict(tfidf.transform(['the movie was boring and a bad job was done in everything'])))#1
print(KK.predict(tfidf.transform(['A good movie']))) #0
print(KK.predict(tfidf.transform(['An excellent movie']))) #0
print(KK.predict(tfidf.transform(['"I did not like this movie at all I gave this movie away"'])))#1

[0]
[0]
[0]
[1]
[1]
[0]
[0]
[1]
[0]

# evaluacion de modelos

In [59]:
print(svc.score(test_x_vector, test_y)) # supor vector machinne lienal
print(dec_tree.score(test_x_vector, test_y)) #decision tree
print(gnb.score(test_x_vector.toarray(), test_y)) #Naive vayes
print(lr.score(test_x_vector, test_y)) #logistic Regression
print(RFC.score(test_x_vector,test_y)) #random forest
print( KK.score(test_xk,test_yk))#k-neighborts

0.8375
0.6825
0.66
0.835
0.795
0.6757575757575758

# Cross Validation

In [93]:
from sklearn.model_selection import cross_val_score
tfidf2 = TfidfVectorizer(stop_words='english')
X = tfidf2.fit_transform(df['review'])
print( cross_val_score(svc,X,df['sentiment'].values,cv=5).mean()) # supor vector machinne lienal
print( cross_val_score(dec_tree,X,df['sentiment'].values,cv=5).mean()) #decision tree
#print( cross_val_score(gnb,X,df['sentiment'].values,cv=5).mean()) #Naive vayes
print( cross_val_score(lr,X,df['sentiment'].values,cv=5).mean()) #logistic Regression
print( cross_val_score(RFC,X,df['sentiment'].values,cv=5).mean()) #random forest
print( cross_val_score(KK,X,df['sentiment'],cv=5).mean())#k-neighborts

0.8455
0.694
0.8415000000000001
0.8125
0.682

# Al parecer svc es el mejor modelo por lo que vamos a optimizarlo

In [87]:
from sklearn.model_selection import GridSearchCV
parametros = {'C':[1,4,8,16,32,50],'kernel':['lineal','rbf']}
svc = SVC()

svc_Gri = GridSearchCV(svc, parametros, cv=6)
svc_Gri.fit(train_x_vector, train_y)
print(svc_Gri.best_estimator_)
print(svc_Gri.best_params_)
svc_Gri.best_score_

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:372: FitFailedWarning:
36 fits failed out of a total of 72.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
36 fits failed with the following error:
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py", line 255, in fit
    fit(X, y, sample_weight, solver_type, kernel, random_seed=seed)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py", line 342, in _sparse_fit
    kernel_type = self._sparse_kernels.index(kernel)
ValueError: 'lineal' is not in list

  warnings.warn(some_fits_failed_message, FitFailedWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_search.py:972: UserWarning: One or more of the test scores are non-finite: [       nan 0.83375339        nan 0.85187219        nan 0.85187219
        nan 0.85187219        nan 0.85187219        nan 0.85187219]
  category=UserWarning,

SVC(C=4)
{'C': 4, 'kernel': 'rbf'}

0.8518721898378906

**Despues de aplicar cambios Se Re entrena  svc con la totalidad de los datos**

In [89]:
svc.fit(X,df['sentiment'])

SVC()

In [96]:
print(svc.predict(tfidf2.transform(['A good movie'])))#positive
print(svc.predict(tfidf2.transform(['this is a very good movie, i like '])))#positive
print(svc.predict(tfidf2.transform(['the movie was not a god job'])))#negative
print(svc.predict(tfidf2.transform(['A excellent movie '])))#positive
print(svc.predict(tfidf2.transform(['i thing this movie is regular but entertaining'])))#positive
print(svc.predict(tfidf2.transform(['the movie was boring and a bad job was done in everything'])))#negative

['positive']
['negative']
['negative']
['positive']
['positive']
['negative']